:root{
  /** PALETA DE COLORES */
  /*ejemplo:
   --rich-black: #0d1b2aff;
   --oxford-blue: #1b263bff;
   --yinmn-blue: #415a77ff;
   --silver-lake-blue: #778da9ff;
   --platinum: #e0e1ddff;
   */
  
  /** FONTS */
  /*ejemplo:
  --poppins-font: 'Poppins', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --title-font: 'Secular One', sans-serif;
  */
}